
.App {
  text-align: center;
  background-color: #1b1d24;
}
body{
  background-color: #1b1d24
}
.App-header {
  background-color: #1b1d24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1b1d24;
}
.phishguard-title{
  font-size: 100px;
  color: #C8C8C8;
  font-family: 'Open Sans', sans-serif;
}
.title-container {
  margin-top: -1px; /* Adjust this value as needed */
}




