
.App {
  text-align: center;
  background-color: #333333;
}
body{
  background-color: #333333
}
.App-header {
  background-color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.phishguard-title{
  font-size: 100px;
  color: #f3f6f9;
  font-family: 'Open Sans', sans-serif;
}
.title-container {
  margin-top: -1px; /* Adjust this value as needed */
}




