
.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.phishguard-title{
  font-size: 100px;
  color: #18181b;
  font-family: 'Open Sans', sans-serif;
}
.title-container {
  margin-top: -1px; /* Adjust this value as needed */
}




