*{
    margin:  0;
    padding: 0;

}

.main{
    width: 100%;
    height: 100vh;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 24, 67, 0.4)
}